@charset "UTF-8";

.depoimento {
    background-color: #8e242415;
    margin: 1em 6.5%;
    text-align: center;
    padding: 4em;
}

.depoimento span {
    font-size: 14px;
    font-weight: 600;
    color: var(--cor-segundaria);
}

.depoimento img{
    padding: 1em;
}

.depoimento h2 {
    font-size: 36px;
    font-weight: 500;
    padding: 0.5em 0 1em 0;
}

.depoimento h4 {
    font-weight: 500;
    padding-bottom:0.5em;
}

.depoimento p {
    font-size: 14px;
    color: var(--cor-primaria);
}